<div class="container">
  <div class="row">
    <div class="col-2 align-self-start">
      <a
        class="newThread"
        mat-raised-button
        matTooltip="Start a new Thread"
        [routerLink]="['new']"
      >
        New Thread
      </a>
    </div>
    <div class="col-10">
      <mat-list>
        <app-thread
          *ngFor="let thread of threads; let i = index"
          [thread]="thread"
          [id]="i"
        ></app-thread>
      </mat-list>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
