<ng-container>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="I made a post!"
            value=""
            maxlength="90"
            #title
            required
          />
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle style="font-size: medium;">Contents</mat-card-subtitle>
    </mat-card-header>
    <!-- [(ngModel)]="model.data" -->
    <mat-card-content>
      <ckeditor
        [editor]="editor"
        style="padding: 0 50px;"
        [data]="model.data"
      ></ckeditor>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        (click)="onPost(title)"
        color="primary"
        [disabled]="title.value.length < 2 || model.data.length < 10"
        *ngIf="!simulate"
      >
        Post
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="simulate"></mat-progress-bar>
</ng-container>
