<mat-list>
  <mat-list-item>
    <label *ngIf="!replying">
      Title:
      <input type="text" #title>
    </label>
  </mat-list-item>
  <mat-list-item>
    <editor apiKey="atk5tq3da4kk585leey3im4ijj26yy51tavx7kejvcp3qjco"
            [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
         'bullist numlist outdent indent | removeformat | help'
   }"
    #contents></editor>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<button mat-stroked-button (click)="onSubmit()"></button>

