.subforum-container {
  padding: 5px 0px;
}

.main {
  /* border-style: solid; */
  background-color: aliceblue;
  border-width: 2px;
}

.voteBtn {
  /* border-right-style: solid; */
  border-width: 2px;
}

.name {
  padding-top: 15px;
}

.replyBox {
  padding-top: 10px;
}

.activeUpvoteBtn {
  background-color: green;
  border-radius: 15px;
}

.activeDownvoteBtn {
  background-color: red;
  border-radius: 15px;
}

mat-divider {
  width: inherit;
}
