.main {
  border-style: solid;
  border-width: 2px;
}

.voteBtn {
  border-right-style: solid;
  border-width: 2px;
}

.replyBox {
  padding-top: 10px;
}

.activeUpvoteBtn {
  background-color: green;
  border-radius: 15px;
}

.activeDownvoteBtn {
  background-color: red;
  border-radius: 15px;
}
