<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [ngClass]="{ hidden: (isHandset$ | async) === false }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar>Welcome {{ name }}!</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="forum">Forum</a>
        <a mat-list-item routerLink="help">Help</a>
        <a mat-list-item routerLink="login">Login</a>
        <a mat-list-item routerLink="register">Register</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a
          mat-button
          class="nav-item"
          routerLinkActive="active"
          [routerLink]="['/']"
        >
          <mat-icon>school</mat-icon>
          <span id="mascot">HomeworkAssist</span>
        </a>
        <span class="nav-spacer"></span>
        <div class="nav-desktop" *ngIf="!(isHandset$ | async)">
          <a mat-button class="nav-item" [routerLink]="['forum']">Forum</a>
          <a mat-button class="nav-item" routerLink="help">Help</a>
          <a mat-button class="nav-item" routerLink="login">Login</a>
          <a mat-button class="nav-item" routerLink="register">Register</a>
          <a
            class="nav-item"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Menu When Logged In"
          >
            <mat-icon>more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <a href="#" mat-menu-item routerLink="profile">
              <mat-icon>perm_identity</mat-icon>
              <span>Profile</span>
            </a>
            <a href="#" mat-menu-item routerLink="/" (click)="onLogout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </a>
          </mat-menu>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->
      <!--      <ng-content></ng-content>-->

      <!--      We're gonna add the routes here ( The routes are the navigation links for the forum )-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
