<mat-toolbar
  color="primary"
  style="
    width: 80% !important;
    margin: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 1px solid black;
  "
>
  <button mat-button class="mat-headline title" disabled>
    <em>{{ post.title | titlecase }}</em>
  </button>
</mat-toolbar>
<div class="container post">
  <!-- <mat-divider></mat-divider> -->
  <div itemscope class="post-wrapper">
    <div class="row">
      <div id="subforum-name">
        <!--        <h1 itemprop="title">{{ post.title }}</h1>-->
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <!--user info-->
        <p class="mat-headline subforum-author">
          {{ post.author | titlecase }}
        </p>
      </div>
      <div class="col-10">
        <div class="subforum-text" itemprop="text">
          <p [innerHTML]="post.contents">{{ post.contents }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
<!--  <mat-tree-node matTreeNodePadding>-->
<!--    <app-wtf *matTreeNodeDef="let node" [wat]="node.item"></app-wtf>-->
<!--  </mat-tree-node>-->

<!--  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>-->
<!--    <button mat-icon-button (click)="loadChildren(node)" matTreeNodePadding>-->
<!--      <mat-icon class="">-->
<!--        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}-->
<!--      </mat-icon>-->
<!--    </button>-->
<!--    {{ node.item }}-->
<!--  </mat-tree-node>-->

<!--  <mat-tree-node *matTreeNodeDef="let node; when: isLoadMore">-->
<!--    <button mat-button (click)="loadMore(node.parent)"></button>-->
<!--  </mat-tree-node>-->
<!--</mat-tree>-->
