<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>forum post</title>
    <link rel="stylesheet" type="text/css" href="subforum-post.component.css"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>

  <body>
  <div class="container">
    <div itemscope>
      <div class="row">
        <div id="subforum-name">
          <h1 itemprop="title">subforum title</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <!--user info-->
          <p>user info</p>
        </div>
        <div class="col-10">
          <div class="subforum-text" itemprop="text">
            <p>subforum text here</p>
          </div>
        </div>
      </div>
    </div>

    <ul id="responses">
      <div itemscope>
        <div class="row">
          <div class="col-2">
            <!--user info-->
            <p>user info</p>
          </div>
          <div class="col-10">
            <div class="response-text" itemprop="text">
              <p>subforum response 1 here</p>
            </div>
            <div class="reply-button">
            <button>Reply </button>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  </body>
</html>
