<mat-expansion-panel [expanded]="index === 0">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ announcement.title }} </mat-panel-title>
    <mat-panel-description>
      {{ aDescription }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    {{ announcement.contents }}
  </p>
  <mat-divider></mat-divider>
  <span class="nav-spacer"></span>
  <p class="expansion-date">
    {{ announcement.date | date: "mm/dd/yyyy" }}
  </p>
</mat-expansion-panel>
<mat-divider></mat-divider>
